<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="admin-div">
  <table class="admin-table">
    <tr><td colspan="2"><a th:href="@{/admin/movies/new}" class="login-link">Добавить фильм</a></td></tr>

    <tr th:each="movie : ${movies}">
      <td th:text="${movie.title}" class="admin-table-title"></td>

      <td class="admin-table-edit">
        <a th:href="@{/admin/movies/edit/{id}(id=${movie.id})}" class="login-link">
          Изменить
        </a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>