<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="topbar" th:fragment="topbar">
  <a th:href="@{/}" class="logo-link"><h1 class="logo">KINOPUB</h1></a>

  <ul class="header_links">
    <li><a th:href="@{/movies}" class="topbar-link">ФИЛЬМЫ</a></li>
    <li>СЕРИАЛЫ</li>
    <li>СПОРТ</li>
    <li>ТЕЛЕКАНАЛЫ</li>
    <li>ПОДПИСКИ</li>
  </ul>

  <form class="search" th:action="@{/search}" method="get">
    <input type="text" name="query" placeholder="Поиск..." />
  </form>

  <div th:if="${#authorization.expression('isAuthenticated()')}">
    <a th:text="${#authentication.name}" th:href="@{/profile}" class="login-link"></a>
  </div>

  <div th:unless="${#authorization.expression('isAuthenticated()')}">
    <a th:href="@{/login}" class="login-link">ВОЙТИ</a>
  </div>
</div>
</body>
</html>