<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KINO1</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments/topbar :: topbar}"></div>
<div class="main">
  <h1>Новые Фильмы</h1>

  <div class="movie_cards">
    <div th:each="movie : ${movies}" class="movie_card">
      <a th:href="@{/movies/{slug}(slug=${movie.slug})}">
        <img
                th:src="${movie.getPosterUrl()}"
                alt="Постер"
        />
      </a>

      <div class="movie_info">
        <h3 class="card_title" th:text="${movie.getTitle()}"></h3>
        <p class="card_description" th:text="${movie.getYear()} + ' • ' + ${movie.getGenre()}"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
