<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="login-bg">
<div class="login-container">
  <div class="login-card">
    <a th:href="@{/}" class="logo-link"><h1 class="logo">KINOPUB</h1></a>

    <div class="login-input">
      <div class="login-text">
        <h2>Введите логин и пароль</h2>
        <p>Который вы указали при регистрации</p>
      </div>

      <form th:action="@{/login}" method="post" class="login-form">
        <input type="text" placeholder="Логин" name="username" class="login-inputtext" />
        <input type="password" placeholder="Пароль" name="password" class="login-inputtext" />
        <input type="submit" value="Войти" class="login-button" />
      </form>
      <a class="register-button" th:href="@{/register}">Cоздать аккаунт</a>
    </div>
  </div>
</div>
</body>
</html>
